/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
 html, button, input, select, textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
 audio, canvas, img, video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
 textarea {
    resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
 .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*REGULAR*/

  @font-face {
    font-family:'HPSimplified';
    src: url("https://googledrive.com/host/0B05gvY7cupTtOGNKYWNNM3VlUGc/latin-e-regular-eot.eot");
    /* IE9 compat */
    src: url("https://googledrive.com/host/0B05gvY7cupTtOGNKYWNNM3VlUGc/latin-e-regular-eot.eot?#iefix") format("embedded-opentype"), url("https://googledrive.com/host/0B05gvY7cupTtOGNKYWNNM3VlUGc/latin-e-regular-woff.woff") format("-woff.woff"), url("https://googledrive.com/host/0B05gvY7cupTtOGNKYWNNM3VlUGc/latin-e-regular-ttf.ttf") format("truetype");
    /*iOS, Android, Safari*/
    font-weight: normal;
    font-style: normal;
}




.hp {
    font-family: HPSimplified !important;
}
#wrapper img {
    position: absolute;
}
#hdMsg {
    color: #0096d6;
    position: relative;
    left: 5px;
}
#wrapper {
    width: 400px;
    font-size: 11pt;
    margin-left: auto;
    margin-right: auto;
}
#uploadFile {
    border-style: solid;
    border-width: 1px;
    border-color: #c2c2c2;
    color: #c2c2c2;
    height: 23px;
    width: 235px;
}
#commentUser {
    width: 325px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c2c2;
    color: #c2c2c2;
    outline: 0;
}
.icon {
    width: 25px;
    height: 27px;
    background-image: url('https://googledrive.com/host/0B05gvY7cupTtREdXY2ZqZTZfem8/delUsers.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}
.fileUpload {
    padding: 3px 20px;
    display: inline;
    position: relative;
    overflow: hidden;
    margin: 7px;
    background-color: #0096d6;
    color: white;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
.fileUpload:hover, .fileUpload:active {
    background-color: #0c5f97;
}
.fileUpload input#fileInput {
    display: none;
}
.fileUpload .uploadBtn {
    position: relative;
}
.ui-widget * {
    font-family:'HPSimplified';
    font-size: 12pt;
}
.ui-widget-overlay {
    background: #000;
    opacity: .70 !important;
    /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background: #000 !important;
    /* This will make it darker */
}
.ui-widget.delUsers {
    color: #fff;
    background: #0096d6;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 11pt;
}
.ui-widget.delUsers:hover, .ui-widget.delUsers:active {
    background: #0c5f97;
}
.ui-widget.cancelBtn {
    color: #fff;
    background: #0096d6;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    font-size: 11pt;
}
.ui-widget.delUsers:disabled {
    background: #0096d6;
}
.ui-widget.cancelBtn:hover, .ui-widget.cancelBtn:active {
    background: #0c5f97;
}
.dialogDropShadow {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    position:relative;
}
.ui-dialog-buttonpane .ui-dialog-buttonset {
    top: 0px;
    (this value depends on the page layout) left: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
 .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content:"";
    display: block;
    width: 0;
    height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
 .hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
 .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
 .invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .clearfix:before, .clearfix:after {
    content:" ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .clearfix {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
 @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 @media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content:" (" attr(href)")";
    }
    abbr[title]:after {
        content:" (" attr(title)")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content:"";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
